<% @posts.each do |post| %>
    <div class="small_avatar">
        <%= render "posts/posted_by", :params => post.user_id %>
    </div>

    <%= link_to (image_tag post.image.url(:original)), post %>
    <p>
        <%= render partial: "likes/like_button_and_date", locals: { post: post } %> 
    </p>

    <p><%= post.caption %></p>

    <%= render "posts/poster_options", :post => post %>

<% end %>