<title>Hikes</title>

<% @posts.each do |post| %>
  <div>
    <%= link_to (image_tag post.image.url(:original), class:'post-image'), post %>
    <p>
      <%= post.caption %>
    </p>

    <%= render "date_posted", :post => post %>
    <%= render "posted_by", :post => post %>
    <%= render "poster_options", :post => post %>
  </div>
<% end %>