<div>
	<img>
		<%= image_tag @post.image.url(:original), class:'post-image'%>
	</img>

    <p>
      <%= @post.caption %>
    </p>

    <%= render "poster_options", :post => @post %>

    <%= render "comments" %>
    <%= render "post_comment" %>
</div>